/**
 * This file was auto-generated by Fern from our API Definition.
 */

package resources.trunks.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import core.ObjectMappers;
import java.lang.Object;
import java.lang.String;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;
import resources.trunks.types.UpdateTrunkRequestWebhookMethod;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(
    builder = UpdateTrunkRequest.Builder.class
)
public final class UpdateTrunkRequest {
  private final String name;

  private final int maxConcurrentCalls;

  private final boolean enabled;

  private final Optional<String> webhookUrl;

  private final Optional<UpdateTrunkRequestWebhookMethod> webhookMethod;

  private final Map<String, Object> additionalProperties;

  private UpdateTrunkRequest(String name, int maxConcurrentCalls, boolean enabled,
      Optional<String> webhookUrl, Optional<UpdateTrunkRequestWebhookMethod> webhookMethod,
      Map<String, Object> additionalProperties) {
    this.name = name;
    this.maxConcurrentCalls = maxConcurrentCalls;
    this.enabled = enabled;
    this.webhookUrl = webhookUrl;
    this.webhookMethod = webhookMethod;
    this.additionalProperties = additionalProperties;
  }

  @JsonProperty("name")
  public String getName() {
    return name;
  }

  @JsonProperty("max_concurrent_calls")
  public int getMaxConcurrentCalls() {
    return maxConcurrentCalls;
  }

  @JsonProperty("enabled")
  public boolean getEnabled() {
    return enabled;
  }

  /**
   * @return HTTPS URL for real-time call-event webhooks (<code>CallInitiated</code>, <code>Hangup</code>). See <a href="/trunks/webhook">Trunk Webhooks</a>.
   */
  @JsonProperty("webhook_url")
  public Optional<String> getWebhookUrl() {
    return webhookUrl;
  }

  /**
   * @return HTTP method for the webhook callback. Defaults to <code>POST</code>.
   */
  @JsonProperty("webhook_method")
  public Optional<UpdateTrunkRequestWebhookMethod> getWebhookMethod() {
    return webhookMethod;
  }

  @java.lang.Override
  public boolean equals(Object other) {
    if (this == other) return true;
    return other instanceof UpdateTrunkRequest && equalTo((UpdateTrunkRequest) other);
  }

  @JsonAnyGetter
  public Map<String, Object> getAdditionalProperties() {
    return this.additionalProperties;
  }

  private boolean equalTo(UpdateTrunkRequest other) {
    return name.equals(other.name) && maxConcurrentCalls == other.maxConcurrentCalls && enabled == other.enabled && webhookUrl.equals(other.webhookUrl) && webhookMethod.equals(other.webhookMethod);
  }

  @java.lang.Override
  public int hashCode() {
    return Objects.hash(this.name, this.maxConcurrentCalls, this.enabled, this.webhookUrl, this.webhookMethod);
  }

  @java.lang.Override
  public String toString() {
    return ObjectMappers.stringify(this);
  }

  public static NameStage builder() {
    return new Builder();
  }

  public interface NameStage {
    MaxConcurrentCallsStage name(@NotNull String name);

    Builder from(UpdateTrunkRequest other);
  }

  public interface MaxConcurrentCallsStage {
    EnabledStage maxConcurrentCalls(int maxConcurrentCalls);
  }

  public interface EnabledStage {
    _FinalStage enabled(boolean enabled);
  }

  public interface _FinalStage {
    UpdateTrunkRequest build();

    _FinalStage additionalProperty(String key, Object value);

    _FinalStage additionalProperties(Map<String, Object> additionalProperties);

    /**
     * <p>HTTPS URL for real-time call-event webhooks (<code>CallInitiated</code>, <code>Hangup</code>). See <a href="/trunks/webhook">Trunk Webhooks</a>.</p>
     */
    _FinalStage webhookUrl(Optional<String> webhookUrl);

    _FinalStage webhookUrl(String webhookUrl);

    /**
     * <p>HTTP method for the webhook callback. Defaults to <code>POST</code>.</p>
     */
    _FinalStage webhookMethod(Optional<UpdateTrunkRequestWebhookMethod> webhookMethod);

    _FinalStage webhookMethod(UpdateTrunkRequestWebhookMethod webhookMethod);
  }

  @JsonIgnoreProperties(
      ignoreUnknown = true
  )
  public static final class Builder implements NameStage, MaxConcurrentCallsStage, EnabledStage, _FinalStage {
    private String name;

    private int maxConcurrentCalls;

    private boolean enabled;

    private Optional<UpdateTrunkRequestWebhookMethod> webhookMethod = Optional.empty();

    private Optional<String> webhookUrl = Optional.empty();

    @JsonAnySetter
    private Map<String, Object> additionalProperties = new HashMap<>();

    private Builder() {
    }

    @java.lang.Override
    public Builder from(UpdateTrunkRequest other) {
      name(other.getName());
      maxConcurrentCalls(other.getMaxConcurrentCalls());
      enabled(other.getEnabled());
      webhookUrl(other.getWebhookUrl());
      webhookMethod(other.getWebhookMethod());
      return this;
    }

    @java.lang.Override
    @JsonSetter("name")
    public MaxConcurrentCallsStage name(@NotNull String name) {
      this.name = Objects.requireNonNull(name, "name must not be null");
      return this;
    }

    @java.lang.Override
    @JsonSetter("max_concurrent_calls")
    public EnabledStage maxConcurrentCalls(int maxConcurrentCalls) {
      this.maxConcurrentCalls = maxConcurrentCalls;
      return this;
    }

    @java.lang.Override
    @JsonSetter("enabled")
    public _FinalStage enabled(boolean enabled) {
      this.enabled = enabled;
      return this;
    }

    /**
     * <p>HTTP method for the webhook callback. Defaults to <code>POST</code>.</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage webhookMethod(UpdateTrunkRequestWebhookMethod webhookMethod) {
      this.webhookMethod = Optional.ofNullable(webhookMethod);
      return this;
    }

    /**
     * <p>HTTP method for the webhook callback. Defaults to <code>POST</code>.</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "webhook_method",
        nulls = Nulls.SKIP
    )
    public _FinalStage webhookMethod(Optional<UpdateTrunkRequestWebhookMethod> webhookMethod) {
      this.webhookMethod = webhookMethod;
      return this;
    }

    /**
     * <p>HTTPS URL for real-time call-event webhooks (<code>CallInitiated</code>, <code>Hangup</code>). See <a href="/trunks/webhook">Trunk Webhooks</a>.</p>
     * @return Reference to {@code this} so that method calls can be chained together.
     */
    @java.lang.Override
    public _FinalStage webhookUrl(String webhookUrl) {
      this.webhookUrl = Optional.ofNullable(webhookUrl);
      return this;
    }

    /**
     * <p>HTTPS URL for real-time call-event webhooks (<code>CallInitiated</code>, <code>Hangup</code>). See <a href="/trunks/webhook">Trunk Webhooks</a>.</p>
     */
    @java.lang.Override
    @JsonSetter(
        value = "webhook_url",
        nulls = Nulls.SKIP
    )
    public _FinalStage webhookUrl(Optional<String> webhookUrl) {
      this.webhookUrl = webhookUrl;
      return this;
    }

    @java.lang.Override
    public UpdateTrunkRequest build() {
      return new UpdateTrunkRequest(name, maxConcurrentCalls, enabled, webhookUrl, webhookMethod, additionalProperties);
    }

    @java.lang.Override
    public Builder additionalProperty(String key, Object value) {
      this.additionalProperties.put(key, value);
      return this;
    }

    @java.lang.Override
    public Builder additionalProperties(Map<String, Object> additionalProperties) {
      this.additionalProperties.putAll(additionalProperties);
      return this;
    }
  }
}
